<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="easyroadtrip.com.ezroadtrip">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Presentation.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Presentation.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".Presentation.activity.NewTripActivity">
        </activity>
        <activity android:name=".Presentation.activity.RouteSuggestionActivity">
        </activity>

        <!-- Configuration for Here API -->
        <!--Developers should put application credentials here.To obtain them, please register the application
        at https://developer.here.com/develop/mobile-sdks-->
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="2hTFJUeboG2ElLNfziIJ" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="hPl4Z6jI6QcZ5p4_NA8Atg" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="Piu0oZbVBZDzV4l3iXx7Guv+XGrL+FdrrTBdoyIcsvSDbIh8dB2E8+/vUvX/kMX6FPMIEsE33X1fxcvv72I2R2WUeUsdphsPQJiyZFiZPcp+LiHZ4bNo8fe/JRMaOt6RrE2YOdbsDWEpiobDeryiexiqsnIALA4y+c4JyeBfw/qAV3S6N3SYX81iHKlNM5viketJ3GLSolwZPguA2Dz7iKDWnFFf+wctB2zDPJA176Qc/3bMq/qPraLVFISLuzz1mQKfpPoq38+F4h+lStY2XMXGuPmhC5weldz2tMDnYmNHNUcR7fjt4s5FDTn275lYWL1d4slXE4MHGQD3PZPBwlmBYb+IhRsBpXYsAiJYupGkTd3idPHsbKUbUCdpoEsFPcZnU8ZeRe6Dw4nafFY3fSyseI+dG/WjJ4zbJLUoVC/Htp2XkB2DTc2BcDHwjf/LEUL2JyHnl+Wf4DE1bSbkEi6thBKfBxha8l16IkAarcyOzoabMFMFG5AMfKER+T3AT3cz9axYFv5vKyupwZOVhWrkmtiU9KLnoL4tdHl/iJQQM1N7PYDlVs2P5TsBmbb7MW+0LNpK0UQLFhRNv0rmDo3byw1YRJx2WT7tzFvCTTAwJUua7fDQMkdO0W8xKoGmXLlzW3jRMBrRsfVIhalhT6QtjYlsBVV8smkut6eJAvE=" />


        <!-- Service -->
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v3"
            android:exported="true">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService.v3">
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>